:root {
    --background-color: #fff;
    --secondary-background-color: #f5f5f5;
    --text-color: #000;
    --accent-color: #172554;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #111;
        --secondary-background-color: #1a1a1a;
        --text-color: #eee;
        --accent-color: #fca5a5;
    }
}

::-moz-focus-inner {
    outline: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
html {
    color-scheme: light dark;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    min-height: 100svh;
}

*::selection {
    background-color: var(--accent-color);
    color: var(--background-color);
}

input:not(:focus)::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}

header {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -80;
    height: 80px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.site-id a {
    text-decoration: none;
    color: var(--text-color);
    transition: outline 150ms linear, color 150ms ease-in;
    user-select: none;
}

.site-id a:hover {
    color: var(--accent-color);
}

.site-id a:focus-visible, .site-id a:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 5px;
    color: var(--accent-color);
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}


.input-container input, .input-container button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--background-color);
    font-weight: 600;
    color: var(--text-color);
    transition: outline 100ms linear;
}

.input-container button{
    margin-left: 10px;
    transition: outline 100ms linear, background-color 200ms ease-out, color 200ms ease-out;
}

.input-container input {
    width: calc(44ch + 22px);
}

.input-container button:focus-visible {
    border-color: var(--accent-color);
    outline: 2px solid var(--accent-color);
    color: var(--accent-color);
}

.input-container button:hover, .input-container button:active{
    color: var(--background-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.input-container input:focus-visible {
    outline: 2px solid var(--accent-color);
}


.input-container input:focus {
    color: var(--text-color);
    background-color: var(--secondary-background-color);
    border: 1px solid var(--accent-color);
}

.img-description {
    padding: 10px;
    font-size: large;
    font-weight: 500;
}

.image-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    padding: 10px;
    margin: auto;
}

.image-container {
    display: flex;
    justify-content: spacce-around;
    align-items: center;
    flex-direction: column;
    margin: 15px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.25s ease-out, border-radius 0.25s ease-in;
    /* border: 10px solid var(--background-color); */
}

.image-container img:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 520px){
    .input-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .input-container input, .input-container button {
        width: 100%;
        margin: 7.5px 0;
    }
}